/* тут все по заданию 2 */
a {
	text-decoration: none;
}

.nav__link {
	color: cornflowerblue;
	font-size: 16px;
	line-height: 20px;
}

.title {
	color: #222;
	font-size: 28px;
	line-height: 36px;
	font-weight: bold;
}

.text {
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 30px;
color: #7D7987;
}

.subtitle {
color: coral;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 80px;
}

/*  ниже стили для каталога (не по заданию 2) */

img {
	height: auto;
	max-width: 100%;
}
.content{
	margin-top: 50px;
}
.product {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #c0c0c0;
	height: 390px;
	overflow: hidden;
	padding: 5px 5px;
	position: relative;
	text-align: center;
	transition: all 0.5s ease 0s;
	margin-bottom: 20px;
}
.product:hover {
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}
.product-img {
	height: 200px;
}
.product-title a {
	color: #ffffff;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-weight: 500;
	text-transform: uppercase;
}
.product-desc {
	color: #ffffff;
	max-height: 60px;
	overflow: hidden;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.product-price {
	bottom: 15px;
	left: 0;
	position: absolute;
	width: 100%;
	color: #360101;
	font-size: 25px;
	font-weight: 500;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}